<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form [formGroup]="registrationForms" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="userName">

            <span *ngIf="!userNameShorter?.valid && userNameShorter?.touched" class="invalid-text">
              User name is required
            </span>

        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email">

          <span *ngIf="!emailShorter?.valid && emailShorter?.touched" class="invalid-text">
            <span *ngIf="emailShorter.hasError('required')">Email is required</span>
            <span *ngIf="emailShorter.hasError('email')">Email shoulde be on valid format</span>
          </span>

        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Password</label>
          <input type="text" class="form-control" formControlName="password">

          <span *ngIf="!passwordShorter?.valid && passwordShorter?.touched" class="invalid-text">
            <span *ngIf="passwordShorter.errors?.['required']">Password is required</span>
            <span *ngIf="passwordShorter.errors?.['minlength']">Password should be not lesser than 8</span>
          </span>

        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="text" class="form-control" formControlName="confirmPassword">

          <span *ngIf="!confirmPasswordShorter?.valid && confirmPasswordShorter?.touched" class="invalid-text">
            <span *ngIf="confirmPasswordShorter.errors?.['required']">Confirm Password is required</span>
          </span>

          <span *ngIf="registrationForms.hasError('notmatched') && confirmPasswordShorter.valid"
          class="invalid-text">Confirm password should be match with password</span>
        </div>

        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" formControlName="mobile">
        </div>

        <div class="form-group col-12 mt-2">
          <button type="submit" class="btn btn-primary me-2">Save</button>
          <button type="reset" class="btn btn-secondary">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
