.card-header > h1, .card-header > h2, .card-header > h3, .card-header > h4 {
  color: white;
}

.card-header{
  height: 42px;
  padding: 4px 10px !important;
  background-color: rgb(0 0 0 / 70%) !important;
}
