<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header"><h4>Add New Property</h4></div>
      <div class="card-body">
        <form (submit)="onSubmit()" [formGroup]="addPropertyForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTab>
              <tab heading="Basic Information" formGroupName="BasicInfo">

                <div class="form-group col-12 mb-1">
                  <p>I would like to</p>
                  <div class="btn-gorup" btnRadioGroup formControlName="SellRent" [(ngModel)]="propertyView.SellRent">
                    <label class="btn btn-outline-warning me-2" [btnRadio]="$any(1)" name="SellRent" role="button"> Buy</label>
                    <label class="btn btn-outline-danger" [btnRadio]="$any(2)" name="SellRent" role="button"> Rent</label>
                  </div>
                  <div class="invalid-text" *ngIf="!SellRent.valid && nextClicked">
                    Please select sell or rent
                  </div>
                </div>

                <div class="form-group col-12 mb-1">
                  <p>Bathroom Hall Kitchen (BHK)</p>
                  <div class="btn-group" btnRadioGroup [(ngModel)]="propertyView.Bhk" formControlName="BHK">
                    <label *ngFor="let bhk of [1,2,3,4]" class="btn btn-outline-info me-2" [btnRadio]="$any(bhk)"
                    tabindex="0" role="button">
                    {{ bhk }}
                    </label>
                  </div>
                  <div class="invalid-text" *ngIf="!BHK.valid && nextClicked">
                    Please select BHK Option
                  </div>
                </div>

                <div class="form-group col-12 mb-1">
                  <p>Property Type</p>
                  <div class="btn-group" btnRadioGroup [(ngModel)]="propertyView.PropertyType" formControlName='PropertyType'>
                    <label *ngFor="let pType of propertyType" class="btn btn-outline-success me-2" [btnRadio]="pType"
                    tabindex="0" role="button">
                    {{ pType }}
                    </label>
                  </div>
                  <div class="invalid-text" *ngIf="!PType.valid && nextClicked">
                    Please select Property Type
                  </div>
                </div>

                <div class="form-group col-12 mb-1">
                  <p>Furniture Type</p>
                  <div class="btn-group" btnRadioGroup [(ngModel)]="propertyView.FurnitureType" formControlName="FurnitureType">
                    <label *ngFor="let fType of furnitureType" class="btn btn-outline-danger me-2" [btnRadio]="fType"
                    tabindex="0" role="button">
                    {{ fType }}
                    </label>
                  </div>
                  <div class="invalid-text" *ngIf="!FType.valid && nextClicked">
                    Please select Furniture Type
                  </div>
                </div>

                <div class="form-group col-12">
                  <label for="name" class="form-label">Building / Project Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Name"
                    required
                    minlength="5"
                    [(ngModel)]="propertyView.Name"
                  />
                  <div
                    class="invalid-text"
                    *ngIf="(!Name.valid && Name.touched)"
                  >
                    <span *ngIf="Name.errors?.['required']"
                      >Field name is required</span
                    >
                    <span *ngIf="Name.errors?.['minlength']"
                      >Field name should be at least 5 characters</span
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <label class="form-label">City</label>
                  <select class="form-select" formControlName="City" [(ngModel)]="propertyView.City">
                    <option value="">Please Select</option>
                    <option *ngFor="let city of cities" [value]="city.id"> {{ city.name }}</option>
                  </select>
                  <div class="invalid-text" *ngIf="!City.valid && City.touched">
                    Please select city
                  </div>
                </div>

                <div class="form-group col-12 mt-2 text-center">
                  <button
                    type="button"
                    class="btn btn-success btn-block" (click)="selectTab(1, BasicInfo.valid)"
                  >
                  Next <i class="fa fa-forward" aria-hidden="true"></i>
                  </button>
                </div>
              </tab>
              <tab heading="Pricing & Area" formGroupName="PriceInfo">

                <div class="form-group col-12">
                  <label *ngIf="SellRent.value==1">Price (in USD)</label>
                  <label *ngIf="SellRent.value==2">Rent (in USD)</label>
                  <input type="number" class="form-control" formControlName="Price" [(ngModel)]="propertyView.Price">
                  <div class="invalid-text" *ngIf="!Price.valid && Price.touched">
                    Field Price is required
                  </div>
                </div>

                <div class="form-group col-12">
                  <label class="form-label">Security (in USD)</label>
                  <input type="text" class="form-control" formControlName="Security">
                </div>

                <div class="form-group col-12">
                  <label class="form-label">Maintenance (in USD)</label>
                  <input type="text" class="form-control" formControlName="Maintenance">
                </div>

                <div class="form-group col-12">
                  <label class="form-label">Built Area (in Sqr Feet)</label>
                  <input type="number" class="form-control" formControlName="BuiltArea" [(ngModel)]="propertyView.BuiltArea">
                  <div class="invalid-text" *ngIf="!BuiltArea.valid && BuiltArea.touched">
                    Field Built Area is required
                  </div>
                </div>

                <div class="form-group col-12">
                  <label class="form-label">Carpet Area(in Sqr Feet)</label>
                  <input type="text" class="form-control" formControlName="CarpetArea">
                </div>

                <div class="form-group col-12 mt-2 text-center">
                  <button
                    type="button"
                    class="btn btn-primary btn-block me-1" (click)="selectTab(0, PriceInfo.valid)"
                  >
                  <i class="fa fa-backward" aria-hidden="true"></i> Previous
                  </button>
                  <button
                    type="button"
                    class="btn btn-success btn-block" (click)="selectTab(2, PriceInfo.valid)"
                  >
                  Next <i class="fa fa-forward" aria-hidden="true"></i>
                  </button>
                </div>

              </tab>
              <tab heading="Address" formGroupName="AddressInfo">
                 <div class="form-group col-12">
                  <label class="form-label">Floor</label>
                  <input type="text" class="form-control" formControlName="FloorNo">
                </div>

                <div class="form-group col-12">
                  <label class="form-label">Total Floor</label>
                  <input type="text" class="form-control" formControlName="TotalFloor">
                </div>

                <div class="form-group col-12">
                  <label class="form-label">Address</label>
                  <input type="text" class="form-control" formControlName="Address">
                  <div class="invalid-text" *ngIf="!Address.valid && Address.touched">
                    Field Address is required
                  </div>
                </div>

                <div class="form-group col-12">
                  <label class="form-label">Landmark</label>
                  <input type="text" class="form-control" formControlName="LandMark">
                </div>
                <div class="form-group col-12 mt-2 text-center">
                  <button
                    type="button"
                    class="btn btn-primary btn-block me-1" (click)="selectTab(1, AddressInfo.valid)"
                  >
                  <i class="fa fa-backward" aria-hidden="true"></i> Previous
                  </button>
                  <button
                    type="button"
                    class="btn btn-success btn-block" (click)="selectTab(3, AddressInfo.valid)"
                  >
                  Next <i class="fa fa-forward" aria-hidden="true"></i>
                  </button>
                </div>
              </tab>
              <tab heading="Other Detail" formGroupName="OtherInfo">
                <div class="form-group col-12">
                  <label class="form-label">Ready to Move</label><br/>
                  <div class="btn-gorup" btnRadioGroup formControlName="RTM">
                    <label class="btn btn-outline-success me-2" btnRadio="1" role="button"> Yes</label>
                    <label class="btn btn-outline-danger" btnRadio="2" role="button"> No</label>
                  </div>
                  <div class="invalid-text" *ngIf="!RTM.valid && nextClicked">
                    Please select RTM Option
                  </div>
                </div>

                <div class="form-group col-3">
                  <label class="form-label">Possession/Avaialble From</label>
                  <input type="text" class="form-control" formControlName="PossessionOn" placeholder="Date" bsDatepicker [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY'}">
                </div>

                <div class="form-group col-12">
                  <label class="form-label">Age of Property</label>
                  <input type="text" class="form-control" formControlName="AOP">
                </div>

                <div class="form-group col-12">
                  <label class="form-label">Gated Community</label>
                  <div class="btn-gorup" btnRadioGroup formControlName="Gated">
                    <label class="btn btn-outline-success me-2" btnRadio="1" role="button" > Yes</label>
                    <label class="btn btn-outline-danger" btnRadio="2" role="button" > No</label>
                  </div>
                </div>

                <div class="form-group col-12 mb-1">
                  <p>Main Entrance</p>
                  <div class="btn-group" btnRadioGroup formControlName="MainEntrance">
                    <label *ngFor="let mainEntrance of ['North','West','South','East']" class="btn btn-outline-primary me-2" [btnRadio]="mainEntrance"
                    tabindex="0" role="button">
                    {{ mainEntrance }}
                    </label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label class="form-label">Description</label>
                  <textarea type="text" class="form-control" rows="6" formControlName="Description" [(ngModel)]="propertyView.Description"></textarea>
                </div>
                <div class="form-group col-12 mt-2 text-center">
                  <button
                    type="button"
                    class="btn btn-primary btn-block me-1" (click)="selectTab(2, OtherInfo.valid)"
                  >
                  <i class="fa fa-backward" aria-hidden="true"></i> Previous
                  </button>
                  <button
                    type="button"
                    class="btn btn-success btn-block" (click)="selectTab(4, OtherInfo.valid)"
                  >
                  Next <i class="fa fa-forward" aria-hidden="true"></i>
                  </button>
                </div>
              </tab>
              <tab heading="Photo">
                <div class="form-group col-12">
                  <div class="photo-control">
                      <button class="mt-5" type="button">Upload</button> <br>
                      This is under construction
                  </div>
                </div>
                <div class="form-group col-12 mt-2 text-center">
                  <button
                    type="button"
                    class="btn btn-primary btn-block me-1" (click)="selectTab(3, true)"
                  >
                  <i class="fa fa-backward" aria-hidden="true"></i> Previous
                  </button>
                  <button type="reset" class="btn btn-secondary btn-block me-1"> Cancel</button>
                  <button type="submit" class="btn btn-success btn-block"> Save changes</button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <h4>Property Review</h4>

      </div>
      <div class="card-body shadow-lg p-3 bg-light">
        <app-property-card [propertyInput]="propertyView" [hideIcon]="true"></app-property-card>
      </div>
    </div>
  </div>
</div>
