<div class="card w-100 mb-2" style="width: 18rem;">
  <div class="card-img-wrapper">
    <img src="assets/images/house1.png" class="card-img-top" alt="...">
    <ul class="list-inline text-center member-items animate">
      <li class="list-inline-item">
        <button class="btn btn-outline-primary" routerLink="/detail-property/{{ propertyInput.Id }}" >Detail</button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-outline-secondary">View</button>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ propertyInput.Name }}</h5>
    <p class="card-text">Type : {{ propertyInput.Type }} - USD {{ propertyInput.Price }}</p>
  </div>
</div>
