<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img
          src="assets/images/default.png"
          alt="Preview Image"
          class="card-img-top"
        />
      </div>
      <div class="card-body">
        <div class="tab-panel">

        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <button class="btn btn-success">Message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8"></div>
</div>
